@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "femora";
  default: true;

  --color-primary: #ec4899;
  --color-secondary: #c084fc;
  --color-accent: #34d399;

  --color-base-100: #fffafc;
  --color-base-200: #fdf2f8;
  --color-base-300: #fbcfe8;

  --color-neutral: #2a323c;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
.ruge-boogie-regular {
  font-family: "Ruge Boogie", cursive;
  font-weight: 400;
  font-style: normal;
}
.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

.jersey-10-charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.caesar-dressing-regular {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}
